html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.page{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.form{
	height: 312px;
	width: 401px;
	padding: 40px;
	background: #F7F5F9;
	
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: space-between;
	
	border-radius: 12px;
	-webkit-filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
	filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
}

.form__title{
	padding: 0;
	margin: 0;
	
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 20px;
	color: #3B3D43;
}

.form__button{
	height: 48px;
	background: #6979F8;
	
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 22px;
	color: #FFFFFF;

	box-sizing: border-box;
	border: 2px solid #6979F8;
	border-radius: 6px;
	outline: none;
}

.form__button:focus, .form__button:hover{
	border: 2px solid #854FC8;
}

.form__button:focus{
	background: #98a4fa;
	color: #854FC8;
}

.form__input{
	height: 48px;
	padding: 12px 33.12px 12px 13px;
	box-sizing: border-box;
	border-radius: 6px;
	border: 2px solid #FFFFFF;
	outline: none;
}

.form__input:hover{
	border: 2px dashed #854FC8;
}

.form__input:focus{
	border: 2px solid #854FC8;
}

.form__input::placeholder{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 20px;
	color: #D0C9D6;
}